@import url('normalize.css');

* {
	margin: 0;
	padding: 0;
	}

ul {
	list-style:none;
	margin: 0;
	padding: 0;
}

	ul.list {
		list-style-type: disc;
		margin: 0;
		padding: 10px 0 0 0;
	}

.a-link {
	cursor: pointer;
	}

/*GLOBAL*/

input.in-text {
	padding: 3px 5px;
	width: 220px;
	}

.likes {
			padding-left: 20px;
			font-size: 11px;
			background: url('../i/like.png') 0 50% no-repeat;
		}

h2 {
		font: bold 21px Georgia, serif;
		font-style: italic;
		color: #6a005a;
		padding: 0 0 3px 20px;
		background: url('../i/content-like.png') 0 5px no-repeat;
		border-bottom: dotted 1px #ccc;
	}

/**/

.b-guideBar {
	padding-bottom: 5px;
	border-bottom:dotted 1px #cccccc;
	}
	.w-guideBar {
		background: #681d5b;
		height: 85px;

	}

	.b-guideBar .guide {
		padding: 10px 0 0 0;
		width: 685px;
		list-style: none;
		margin: 0 auto;
		}

		.b-guideBar .guide li {
			position: relative;
			float: left;
			width: 125px; height: 50px;
			background: #49113e;
			font-size: 14px;
			line-height: 14px;
			font-weight: bold;
			border-radius: 5px;
			color: #fff;
			}


			.b-guideBar .guide .done {
				color: #362F2D;
				background: url('../i/compl.png') 96px 3px no-repeat #e4e4e4;
				background: url('../i/compl.png') 96px 3px no-repeat, -moz-linear-gradient(#e4e4e4, #c1c1c1);
				background: url('../i/compl.png') 96px 3px no-repeat, -ms-linear-gradient(#e4e4e4, #c1c1c1);
				background: url('../i/compl.png') 96px 3px no-repeat, -webkit-linear-gradient(#e4e4e4, #c1c1c1);
				background: url('../i/compl.png') 96px 3px no-repeat, -o-linear-gradient(#e4e4e4, #c1c1c1);
				background: linear-gradient(#e4e4e4, #c1c1c1);
				}

			.b-guideBar .guide .current {
				color: #fff;
				text-align: center;
				background: #1c81c3;
				background: -moz-linear-gradient(#1c81c3, #0061a0); /* FF 3.6+ */  
				background: -ms-linear-gradient(#1c81c3, #0061a0); /* IE10 */  
				background: -webkit-linear-gradient(#1c81c3, #0061a0); /* Safari 5.1+, Chrome 10+ */  
				background: -o-linear-gradient(#1c81c3, #0061a0); /* Opera 11.10 */  
				background: linear-gradient(#1c81c3, #0061a0); /* the standard */ 
				}

				.b-guideBar .guide .current p {
					text-align: left;
					}

			.b-guideBar .guide li+li { /*not working IE6*/
				margin-left: 15px;
				}

				.b-guideBar .guide li p {
					position: relative;
					margin: 11px 3px 7px 23px;
					}

				.b-guideBar .guide li .use-button {
					position: relative; top:-1px;
					display: none;
					}

					.b-guideBar .guide .current .use-button {
						display: inline-block;
						}

			.b-guideBar .guide .count {
				position: absolute; top:7px; left: -15px;
				font-size: 12px;
				font-weight: normal;
			}

.b-topBar {
	border-bottom:dotted 1px #cccccc;
	overflow: hidden;
	}

	.b-switcherMenu {
		margin-bottom: 32px;
		margin-left:6px;
		}

	.w-topBar {
		max-width: 1140px;
		margin: 0 auto;
		padding: 0 10px;
		}

	.b-topBar .logo {
		float: left;
		margin: 10px 20px 10px 0;
		}

	.topMenu,
	.switcherMenu {
		float: left;
		margin: 19px 0 14px 0;
		}

		.switcherMenu {
			margin: 0;
			}

		.topMenu li, 
		.switcherMenu li {
			float: left;
			font-size: 15px;
			font-weight: bold;
			}

			.topMenu li a,
			.topMenu li span,
			.switcherMenu li a,
			.switcherMenu span {
				padding: 6px 15px 6px 15px;
				border-radius: 5px;
				color: #0072BC;
				text-decoration: underline;
				cursor: pointer;
				}

				.topMenu li .current,
				.switcherMenu li .current {
					color: #fff;
					background: #681d5b;
					}

			.topMenu li+li,
			.switcherMenu li+li {
				border-left: dotted 1px #ccc;
				padding: 0 5px;
				margin-left: 5px;
			}

	.b-you {
		float: right;
		}

		.b-you .profile-buttons {
			margin: 12px 0 12px 0;
			}

			.b-you .profile-buttons .btn-rightArrow {
				position: relative;
				}

				.b-you .profile-buttons .btn-rightArrow .decorate {
					width: 7px; height: 10px;
					position: absolute; left: 100%; top: 50%; margin-top: -5px;
					background: url("../i/btn-arrow.png") no-repeat;
					}

			.b-you .profile-buttons .btn {
				margin-right: 3px;
				}

							.b-you .profile-buttons .btn-rightArrow {
								position: relative;
								margin-right: 5px;
							}



			.b-you .btn-plus {
				font:normal 35px Arial;
				padding: 0px 8px 0 8px;
				line-height: 34px;
				}

				.b-you .btn-battery {
					margin-left: 6px;
					margin-bottom: 0;
					}

		.b-you figure {
			width: 155px; height: 40px;	
			padding: 4px 5px 6px 4px;
			background: #e1e1e1;
			border-radius: 5px;
			}

			.b-you figure .w-img {
				border: solid 1px #fff;
				float: left;
				margin-right: 7px;
				overflow: hidden;
				width: 40px; height: 40px;
				}

				.b-you figure figcaption {
					overflow: hidden;
					}

					.b-you figure figcaption h1 {
						font-size: 14px;
						font-weight: normal;
						color: #681d5b;
						margin: 2px 0 3px 0;
						}

					.b-you figure figcaption .likes {}

.b-advertBar {
	text-align: center;
	border-bottom: dotted 1px #ccc;
	padding: 5px 0;
}

.w-content {
	width: 655px;
	margin: 15px auto 0 auto;
	}

	.w-earn-get-status {
		margin-bottom: 17px;
	}

	.b-gettingBattery {
		width: 480px;
		margin: 0 auto 20px auto;
		text-align: center;
		}

	.b-getFreeBattery {
		margin-bottom: 23px;
		}

	.b-statusBattery {
		width: 338px;
		margin: 0 auto;
		padding: 0 66px 0px 77px;
		overflow: hidden;
		background: url('../i/l-arrow.png') 0 31px no-repeat;
		}

	.w-statusBatteryDecoration {
		margin-right: -66px;
		padding-bottom: 5px;
		overflow: hidden;
		background: url('../i/r-arrow.png') 100% 24px no-repeat;
		}

			.w-progressLikes {
				float: left;
				width: 250px;
				margin-right: 8px;
				}

			.w-progressLikes .progressLikesAnnotation {
				margin: 8px 0 0 5px;
				text-align: left;
				}

			.w-progressLikes .flags {
				overflow: hidden;
				margin-bottom: -4px;
				}	

				.w-progressLikes .flags li {
					float: left;
					margin: 0 0 0 25px;
					padding: 0 4px 0 0;
					width: 21px; height: 26px;
					background: url('../i/flags.png') no-repeat;
					font-size: 11px;
					line-height: 12px;
					color: #fff;
					text-align: right;
					}

					.w-progressLikes .flags .active {
						background: url('../i/flags.png') no-repeat -25px 0;
						}

			.w-progressLikes .inactiveBg {
				position: relative;
				background: #e1e1e1;
				height: 20px;
				border-radius: 5px
				}

			.w-progressLikes .progress {
				position: relative; top: -2px;
				height: 24px;
				background: #1c81c3;
				border-radius: 5px;
				background: -moz-linear-gradient(#1b81c3, #0061a0); /* FF 3.6+ */  
				background: -ms-linear-gradient(#1b81c3, #0061a0); /* IE10 */  
				background: -webkit-linear-gradient(#1b81c3, #0061a0); /* Safari 5.1+, Chrome 10+ */  
				background: -o-linear-gradient(#1b81c3, #0061a0); /* Opera 11.10 */  
				background: linear-gradient(#1b81c3, #0061a0); /* the standard */ 
				}

			.w-likes-buy {
				width: 80px;
				float: left;
				margin-top: 15px;
			}


.b-competition {
	overflow: hidden;
	border-bottom: dotted 1px #ccc;
	}

	.b-competition-cnt {
		overflow: hidden;
		padding: 20px;
		}

		.b-competition .desc,
		.b-competition .way {
			float: left;
			}

			.b-competition .way {
				width: 225px;
				}

				.b-competition .way ol {
					margin: 0;
					padding: 0;
					list-style-position: inside;
					}

					.b-competition .way li {
						margin-bottom: 10px
						}

				.b-competition .way h3 {
					font: bold 16px Arial;
					margin-bottom: 10px
					}

			.b-competition .desc {
				margin-right: 15px;
				width: 345px;
				}

				.b-competition p {
					margin-bottom: 10px;
					}


.b-best-list {
	margin: 15px auto 50px auto;
	width: 615px;
	}

	.b-best-list table.best-list {
		width: 100%;
		margin-bottom: 15px;
		}

	.b-best-list table.you-lost {
		width: 435px;
		}

	.b-best-list td {
		border-bottom: solid 1px #fff;
		background: #f5f5f5;
		padding: 9px 0;
		vertical-align: middle;
		}

		.b-best-list tr:nth-child(even) td {
			background: #ebebeb;
			}

		.b-best-list .empty {
			background: none !important;
			padding: 0;
			width: 15px;
			}

		.b-best-list thead td {
			background: none;
			padding-bottom:5px;
			line-height: 1;
			vertical-align: bottom;
			}

			.b-best-list thead .name {
				font-size: 21px;				
				color: #959595;
				}

			.b-best-list thead .friend-count {
				font-size: 11px;
				color: #959595;
				}

			.b-best-list thead .liked-by-friends {
				font-size: 11px;
				color: #959595;				
				}

			.b-best-list thead .prizes {
				font-size: 21px;
				color: #959595;
				}


		.b-best-list .number {
			font-size: 10px;
			text-align: center;
			width: 30px;
			}

		.b-best-list .friend-count {
			text-align: right;
			width: 70px;
			padding-right: 37px;
			}

		.b-best-list .liked-by-friends {
			text-align: right;
			width: 60px;
			padding-right: 15px
			}

		.b-best-list .empty {
			}

		.b-best-list .prizes {
			width: 165px;
			text-align: center;
			}



		.b-best-list .first {
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			}

		.b-best-list .last {
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
			}


		.b-best-list tbody .you td {
			background: #6a005a;
			color: #fff;
			}	

			.b-best-list tbody .you td a {
				color: #fff;
				}


.b-results.later {
	padding-left: 20px;
	}

	.b-results.later .b-descResults .label {
		margin: 15px 15px 15px 0;
		width: 145px;
		}

		.b-results.later .label .label-desc {
			float: left;
			font-size: 12px;
			width: 72px;
			line-height: 1;
			margin-top: 2px;
			}

			.b-results.later .label .label-desc.nothing {
				width: auto;
				float: none;
				}

		.b-results.later .label .label-count {
			float: left;
			margin-left: 8px;
			padding-left: 17px;
			border-left: dotted 1px #bcbcbc;
			}

	.b-results.later .b-descResults .desc {
		width: 146px;
		border: none;
		text-align: left;
		margin: 16px 0 15px 0;
		padding: 0;
		}

	.b-results.later .b-descResults {
		float: left;
		}

	.b-results.later .b-link-arrow {
		float: right;
		}


.b-results {
	overflow: hidden;
	border-bottom: dotted 1px #ccc;
	}

	.b-results .b-descResults {
		float: right;
		}

		.b-descResults .label {
			margin: 15px 10px 15px 0;
			}

		.b-descResults .desc {
			width: 86px;
			font-size: 11px;
			line-height: 13px;
			color: #959595;
			text-align: right;
			padding-right: 10px;
			margin: 23px 5px 21px 0;
			border-right: dotted 1px #ccc;
			float: left;
			}

		.b-descResults .timer {
			margin: 20px 20px 0 0;
			float: left;
			font:bold 42px/33px Arial;
			color: #6a005a;
			}

			.b-descResults .timer span {
				position: relative; top: -3px;
				color: #362f2d;
				}

	.b-results .b-link-arrow {
		float: left;
		margin: 25px 0 25px 0;
		}

	.link-arrow {
		font: bold 16px Arial;
		}

		.link-arrow span {
			font-size: 14px;
			}

.w-earn-get {
	clear: both;
	}

	.w-earn-get .text {
		padding: 0 20px;
		text-align: left;
		margin: 0 0 20px 0;
		}

		.w-earn-get .text p {
			margin-bottom: 5px;
			}

	.w-earn-get h2 {
		font: bold 21px Georgia, serif;
		font-style: italic;
		color: #6a005a;
		padding: 0 0 3px 20px;
		margin: 0 0 5px 0;
		background: url('../i/content-like.png') 0 5px no-repeat;
		border-bottom: dotted 1px #ccc;
		text-align: left;
		}

.b-earnBattery {
	float: left;
	width: 350px;
	margin-right: 10px;
	text-align: center;
	}


	.b-earnBattery .b-photo {
		width: 300px; height: 300px;
		overflow: hidden;
		margin: 0 auto;
		}

		.b-earnBattery .b-photo img {
			max-width: 100%;
			}

	.b-earnBattery .skip {
		margin: 10px 0 0 0;
		}

	.b-earnBattery .like-dislike {
		margin-bottom: 13px;
		}

.b-getBattery {
	float: left;
	width: 275px;
	}


	.b-getBattery .photo-list {
		margin: 0 0 0 20px;
		}

		.b-getBattery .photo-list .b-helper{
			display: block;
			color: #fff;
			padding: 14px;
			background: #6a005a;
			text-decoration: none;
			overflow: hidden;
			}

		.b-getBattery .photo-list .buttons {
			text-align: center;
			margin-bottom: 12px;
			}

			.b-getBattery .photo-list .buttons .btn-gray{
				margin-left: 3px;
				}


		.b-getBattery .photo-list p {
			margin-top: 5px;
			}

		.b-getBattery .photo-list .warning {
			background: #fcddde;
			}

			.b-getBattery .photo-list .warning .warningText {
				display: block;
				}

			.b-getBattery .photo-list .warningText {
				margin-top: 9px;
				font-size: 11px;
				color: #ed1c24;
				display: none;
				}

			.b-getBattery .photo-list .warning:hover {
				background: #fababd;
				}

			
		.b-getBattery .photo-list h3 {
			font: normal 12px Arial;
			overflow: hidden; /*Лучше, конечно сделать проверку на сервере на кол-во символов*/
			}

		.b-getBattery .photo-list .label {
			position: absolute; left: -15px; top: 10px;
			font: normal 11px Arial;
			}

			.b-getBattery .photo-list .label-warning {
				display: none;
				}

		.b-getBattery .photo-list .likes , .b-total-likes .likes {
			position: absolute; top: 10px; right: 10px;
			padding: 0 20px 0 0;
			background: url('../i/like.png') 100% 50% no-repeat;
			}

				.b-getBattery .photo-list .warning .label{
					left: -16px; top: 8px;
					border-radius: 5px;
					background: #ed1c24;
					color: #fff;
					padding: 2px 3px;
					font: bold 14px Arial;
					display: none;
					}

					.b-getBattery .photo-list .warning .label.label-warning {
						display: block;
						}


		.b-getBattery .photo-list li, .b-total-likes {
			position: relative;
			background: #f5f5f5;
			border-radius: 5px;
			margin: 0 0 1px 0;
			padding: 10px 57px 10px 10px;
			}

			.b-getBattery .b-total-likes {
				margin: 0 0 10px 20px;
				}

				.b-getBattery .b-total-likes h3 {
					font: bold 12px Arial;
					}

			.b-getBattery .photo-list .b-add-link{
				padding: 0;
				background: none;
				}

			.b-getBattery .photo-list .b-add-link:hover{
				background: none;
				}


				.b-getBattery .photo-list .add-link {
					background: #d7d7d7;
					border-radius: 5px;
					margin: 0 0 1px 0;
					padding: 10px;
					}

					.add-link .playVideo {
						margin-bottom: 0;
						}

				.b-getBattery .photo-list .add-link .example {
					color: #898989;
					margin: 5px 0 10px 7px;
					}

			.b-getBattery .photo-list li:hover {
				background: #d7d7d7;
				}

				.b-getBattery .photo-list li:hover .btn-remove {
					display: block !important;
					visibility: visible;
					}

.after-photo-list {
	margin: 5px 0 0 0;
	}


/*PRELOADER*/
.preloader {
	position: fixed; z-index: 2;
	background: #681d5b;
	width: 100%; min-height: 100%; height: 100%;
	display: none;
	}

.preloader_active {
	display: block;
	}

	.preloader__content {
		position: relative; top: 50%;
		width: 281px; height: 510px;
		text-align: center;
		margin: -255px auto 0;
		}

		.preloader__percent-progress {
			font: bold 36px Georgia;
			font-style: italic;
			color: #fff;
			}

		.preloader__splash-image {
			margin-bottom: 13px;
			}

		.preloader__progress-bar {
			background: #fff;
			border-radius: 10px;
			padding: 13px 15px;
			margin-bottom: 8px;
			}

		.preloader__mini-logo {
			position: absolute; bottom: 0;
			width: 100%;
			text-align: center;
			}

			.progress-bar__empty {
				background: #e1e1e1;
				height: 20px;
				margin-bottom: -22px;
				border-radius: 5px;
				}
		
			.progress-bar__filled {
					background: -moz-linear-gradient(#1b81c3, #0061a0); /* FF 3.6+ */  
					background: -ms-linear-gradient(#1b81c3, #0061a0); /* IE10 */  
					background: -webkit-linear-gradient(#1b81c3, #0061a0); /* Safari 5.1+, Chrome 10+ */  
					background: -o-linear-gradient(#1b81c3, #0061a0); /* Opera 11.10 */  
					background: linear-gradient(#1b81c3, #0061a0); /* the standard */ 
					height: 24px;
					border-radius: 5px;
					-moz-box-shadow: 1px 1px 2px #444;
					-webkit-box-shadow: 1px 1px 2px #444;
					box-shadow: 1px 1px 2px #444;
					}


/*RATINGS*/

.b-friendsRating {
	padding-bottom: 21px;
	}

	.b-friendsRating h2 {
		position: relative;
		font: bold 21px Georgia, serif;
		font-style: italic;
		color: #6a005a;
		padding: 0 0 3px 20px;
		margin: 0 0 15px 0;
		background: url('../i/content-like.png') 0 5px no-repeat;
		border-bottom: dotted 1px #ccc;
		}

		.b-friendsRating h2 .b-hideForm {
			float: right;
			margin-top: 6px;
			margin-right: 20px;
			font: normal 12px Arial;
			color: #362F2D;
			}

			.b-friendsRating h2 .b-hideForm label {
				position: relative;
				}

	.inviteFriends {
		text-align: center;
		margin-bottom: 15px;
		margin-left: 10px;
		}

	.b-slider {
		position: relative;
		width: 513px;
		margin: 0 auto;
		}

		.w-top100 .b-slider {
			width: 446px; position: relative;
			}

		.b-slider li {
			text-align: center;
			}

			.w-top100 .b-slider li {
				margin-bottom: 14px;
				}

				.w-top100 .b-slider li:nth-child(6) {
					margin-left: 0;
				}

			.b-slider li .w-img{
				width: 75px; height: 75px;
				overflow: hidden;
				}

				.b-slider li .w-img img {
					max-width: 100%;
					}

		.b-slider .likes {
			display: inline-block;
			margin-top: 5px;
			}

		.b-slider .controls {
			position: absolute;
			cursor: default;
			width: 24px; height: 24px;
			padding: 0;
			}

		.w-top100 .b-controls {
			position: relative;
			width: 436px;
			padding: 0 5px 4px 5px;
			border-bottom: dotted 1px #ccc;
			margin: 0 0 15px 0;
			}

		.w-top100 .w-controls {
			width: 213px;
			margin: 0 auto;
			text-align: center;
			}

			.w-top100 .b-controls .b-controls-left,
			.w-top100 .b-controls .b-controls-right {
				float: left;
			}

			.w-top100 .b-controls .count-elements {
				position: relative; top: 4px;

				}

			.w-top100 .b-controls .count-elements {
				font: bold 16px Arial;
				}

			.w-top100 .b-controls .b-controls-right {
				float: right !important;
				}

			.w-top100 .b-controls .controls{
				position: static;
				}

		.b-slider .controls.active {
			cursor: pointer;
			}

			.b-slider .control-stepLeft {
				top: 11px; left: 0;
				background: url('../i/controls.png') 0 0 no-repeat #797979;
				background: url('../i/controls.png'), -moz-linear-gradient(#a6a6a6, #797979); /* FF 3.6+ */  
				background: url('../i/controls.png'), -ms-linear-gradient(#a6a6a6, #797979); /* IE10 */  
				background: url('../i/controls.png'), -webkit-linear-gradient(#a6a6a6, #797979); /* Safari 5.1+, Chrome 10+ */  
				background: url('../i/controls.png'), -o-linear-gradient(#a6a6a6, #797979); /* Opera 11.10 */  
				background: url('../i/controls.png'), linear-gradient(#a6a6a6, #797979); /* the standard */ 
				}

				.w-top100 .b-slider .control-stepLeft {
					margin-left: 3px;
					}

				.b-slider .control-stepLeft.active {
					background: url('../i/controls.png') 0 0 no-repeat #5baa22;
					background: url('../i/controls.png'), -moz-linear-gradient(#79cb3d, #5baa22); /* FF 3.6+ */  
					background: url('../i/controls.png'), -ms-linear-gradient(#79cb3d, #5baa22); /* IE10 */  
					background: url('../i/controls.png'), -webkit-linear-gradient(#79cb3d, #5baa22); /* Safari 5.1+, Chrome 10+ */  
					background: url('../i/controls.png'), -o-linear-gradient(#79cb3d, #5baa22); /* Opera 11.10 */  
					background: url('../i/controls.png'), linear-gradient(#79cb3d, #5baa22); /* the standard */ 					
					}

					.b-slider .control-stepLeft.active:hover {
						background: url('../i/controls.png') 0 0 no-repeat #5baa22;
						}
				

			.b-slider .control-stepRight {
				top: 11px; right: 0;
				background: url('../i/controls.png') -52px 0 no-repeat #797979;
				background: url('../i/controls.png') -52px 0 no-repeat, -moz-linear-gradient(#a6a6a6, #797979);
				background: url('../i/controls.png') -52px 0 no-repeat, -ms-linear-gradient(#a6a6a6, #797979); 
				background: url('../i/controls.png') -52px 0 no-repeat, -webkit-linear-gradient(#a6a6a6, #797979);
				background: url('../i/controls.png') -52px 0 no-repeat, -o-linear-gradient(#a6a6a6, #797979);
				background: url('../i/controls.png') -52px 0 no-repeat, linear-gradient(#a6a6a6, #797979);
				}

				.w-top100 .b-slider .control-stepRight {
					margin-right: 3px;
					}

				.b-slider .control-stepRight.active  {
					background: url('../i/controls.png') -52px 0 no-repeat #5baa22;
					background: url('../i/controls.png') -52px 0 no-repeat, -moz-linear-gradient(#79cb3d, #5baa22);
					background: url('../i/controls.png') -52px 0 no-repeat, -ms-linear-gradient(#79cb3d, #5baa22); 
					background: url('../i/controls.png') -52px 0 no-repeat, -webkit-linear-gradient(#79cb3d, #5baa22);
					background: url('../i/controls.png') -52px 0 no-repeat, -o-linear-gradient(#79cb3d, #5baa22);
					background: url('../i/controls.png') -52px 0 no-repeat, linear-gradient(#79cb3d, #5baa22);					
					}

					.b-slider .control-stepRight.active:hover  {
						background: url('../i/controls.png') -52px 0 no-repeat #5baa22;
						}

			.b-slider .control-listLeft {
				top: 41px; left: 0;
				background: url('../i/controls.png') -26px 0 no-repeat #797979;
				background: url('../i/controls.png') -26px 0 no-repeat, -moz-linear-gradient(#a6a6a6, #797979);
				background: url('../i/controls.png') -26px 0 no-repeat, -ms-linear-gradient(#a6a6a6, #797979); 
				background: url('../i/controls.png') -26px 0 no-repeat, -webkit-linear-gradient(#a6a6a6, #797979);
				background: url('../i/controls.png') -26px 0 no-repeat, -o-linear-gradient(#a6a6a6, #797979);
				background: url('../i/controls.png') -26px 0 no-repeat, linear-gradient(#a6a6a6, #797979);
				}

				.b-slider .control-listLeft.active {
					background: url('../i/controls.png') -26px 0 no-repeat #5baa22;
					background: url('../i/controls.png') -26px 0 no-repeat, -moz-linear-gradient(#79cb3d, #5baa22);
					background: url('../i/controls.png') -26px 0 no-repeat, -ms-linear-gradient(#79cb3d, #5baa22); 
					background: url('../i/controls.png') -26px 0 no-repeat, -webkit-linear-gradient(#79cb3d, #5baa22);
					background: url('../i/controls.png') -26px 0 no-repeat, -o-linear-gradient(#79cb3d, #5baa22);
					background: url('../i/controls.png') -26px 0 no-repeat, linear-gradient(#79cb3d, #5baa22);
					}

					.b-slider .control-listLeft.active:hover {
						background: url('../i/controls.png') -26px 0 no-repeat #5baa22;
						}


			.b-slider .control-listRight {
				top: 41px; right: 0;
				background: url('../i/controls.png') -78px 0 no-repeat #797979;
				background: url('../i/controls.png') -78px 0 no-repeat, -moz-linear-gradient(#a6a6a6, #797979);
				background: url('../i/controls.png') -78px 0 no-repeat, -ms-linear-gradient(#a6a6a6, #797979); 
				background: url('../i/controls.png') -78px 0 no-repeat, -webkit-linear-gradient(#a6a6a6, #797979);
				background: url('../i/controls.png') -78px 0 no-repeat, -o-linear-gradient(#a6a6a6, #797979);
				background: url('../i/controls.png') -78px 0 no-repeat, linear-gradient(#a6a6a6, #797979);
				}

				.b-slider .control-listRight.active {
					background: url('../i/controls.png') -78px 0 no-repeat #5baa22;
					background: url('../i/controls.png') -78px 0 no-repeat, -moz-linear-gradient(#79cb3d, #5baa22);
					background: url('../i/controls.png') -78px 0 no-repeat, -ms-linear-gradient(#79cb3d, #5baa22); 
					background: url('../i/controls.png') -78px 0 no-repeat, -webkit-linear-gradient(#79cb3d, #5baa22);
					background: url('../i/controls.png') -78px 0 no-repeat, -o-linear-gradient(#79cb3d, #5baa22);
					background: url('../i/controls.png') -78px 0 no-repeat, linear-gradient(#79cb3d, #5baa22);
					}

					.b-slider .control-listRight.active:hover {
						background: url('../i/controls.png') -78px 0 no-repeat #5baa22;
						}


	.b-slider .b-slider__list-slider-container {
		position: relative;
		width: 437px;
		margin: 0 auto;
		overflow: hidden;
		}

	.b-slider .list-slider {
		position: relative;
		right: 0;
		overflow: hidden;
		}

		.b-slider .list-slider li {
			float: left;
			}

			.b-slider .list-slider li+li {
				margin-left: 15px;
				}


.w-top100 {}
	
	.w-top100 h2 {
		font: bold 21px Georgia, serif;
		font-style: italic;
		color: #6a005a;
		padding: 0 0 3px 20px;
		margin: 0 0 17px 0;
		background: url('../i/content-like.png') 0 5px no-repeat;
		border-bottom: dotted 1px #ccc;
		text-align: left;
		}

		.w-top100 .yourPosition {
			width: 436px; position: relative;
			margin: 0 auto 4px auto;
			padding: 0 5px 14px 5px;
			border-bottom: dotted 1px #ccc;
			}

			.w-top100 .yourPosition-avatar {
				float: left;
				margin: 0 14px 0 0;
				text-align: center;
				}

				.w-top100 .yourPosition-avatar .likes {
					display: inline-block;
					margin: 4px 0 0 0;
					}

			.w-top100 .yourPosition figurecaption {
				overflow: hidden;
				}

				.w-top100 .yourPosition figurecaption h3 {
					color: #681d5b;
					font: italic 21px Georgia;
					}


/*HELP
----------------------------------------------------------------------------------------------------------------------*/

.w-help {}

		.w-help h3,
		.w-help .b-faq dt {
			font: bold 16px Arial;
			margin-bottom: 15px;
			}

	.w-help dt,
	.w-help dd {
		padding: 0;
		margin: 0;
		}


	.w-help h2 {
		margin-bottom: 15px;
		}

	
	.w-help .sidebar {
		float: left;
		width: 165px;
		padding: 0 0 0 20px;
		}

		.w-help .sidebar dd {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: dotted 1px #ccc;
			}

		.w-help .sidebar dd:last-child {
			margin-bottom: 0;
			border: 0;
			}

		.w-help .sidebar dt {
			font: italic 12px Georgia;
			margin-bottom: 5px;
			color: #681d5b;
			}

		.w-help .sidebar .b-helper {
			display: block;
			color: #fff;
			text-align: left;
			padding: 15px;
			background: #6a005a;
			text-decoration: none;
			}

			.playVideo{
				margin-bottom: 5px;
				}

				.playVideo .icon {
					float: left;
					margin-right: 15px;
					}

				.playVideo span.desc {
					margin-top: 5px;
					display: block;
					overflow: hidden;
					}



	.w-help .b-faq {
		float: left;
		width: 420px;
		padding: 0 0 0 25px;
		}


		.w-help .b-faq dt,
		.w-help .b-faq dd {
			padding: 0 0 0 8px;
			}

			.w-help .b-faq dd {
				padding: 0 0 17px 8px;
				margin: 0 0 17px 0;
				border-bottom: dotted 1px #ccc;
				}

				.w-help .b-faq dd p {
					margin: 10px 0;
					}

					.w-help .b-faq dd li {
						margin-left: 30px;
						margin-bottom: 10px;
						list-style-type: disc;
						}

				.w-help .b-faq dd:last-child {
					border-bottom: none;
					margin: 0;
					}


/*LABELS
-----------------------------------------------------------------------------------------------------------------------*/
.label {}
.big-label {
	background: #ebebeb;
	font-size: 9px;
	overflow: hidden;
	float: left;
	padding: 6px 10px;
	text-align: center;
	border-radius: 5px;
	line-height: 8px;
	}

	.big-label span {
		font: bold 24px/20px Arial;
		color: #6a005a;
		}

/*BUTTONS
-----------------------------------------------------------------------------------------------------------------------*/
.btn {
	cursor:pointer;
	display:inline-block;
	font:12px/24px arial;
	color:#fff;
	border:none;
	position:relative;
	padding:0 12px 0 13px;
	text-decoration:none;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 2px #444;
	-webkit-box-shadow: 1px 1px 2px #444;
	box-shadow: 1px 1px 2px #444;
	vertical-align: middle;
	}

	.btn-battery {
		position: relative;
		height: 34px;
		min-width: 48px;
		line-height: 34px;
		font-size: 17px;
		font-weight: bold;
		text-align: center;
		margin: 0 0 5px 0;
		padding: 0 12px;
		}

		.btn-battery:hover .decorateBattery{
			background: #0061a0;
			}

		.btn-battery .decorateBattery {
			position: absolute; top: 7px; left: -6px;
			background: #1b81c3;
			width: 6px;
			height: 20px;
			border-radius: 5px 0 0 5px;
			background: -moz-linear-gradient(#1975b6, #0969a6); /* FF 3.6+ */  
			background: -ms-linear-gradient(#1975b6, #0969a6); /* IE10 */  
			background: -webkit-linear-gradient(#1975b6, #0969a6); /* Safari 5.1+, Chrome 10+ */  
			background: -o-linear-gradient(#1975b6, #0969a6); /* Opera 11.10 */  
			background: linear-gradient(#1975b6, #0969a6); /* the standard */ 
			}

	.b-getBattery .photo-list .link-remove {
		position: absolute; top: 10px; right: -23px;
		cursor: pointer;
		}

	.btn-big {
		overflow: visible;
		padding: 12px 14px 11px 15px;
		font: bold 16px Arial;
		border-radius: 10px;
		text-align: left;
		font-size: 0; /*убираем отсуп между иконкой и текстом*/
		line-height: 17px;
		}

			.btn-big p {
				display: inline-block;
				font-size: 16px;
				vertical-align: top;
				margin: 0 !important;
				}

		.btn-big .icon {
			position: relative; left:-3px; margin-right: 2px; /*неровый отсуп*/
			/*position: relative; margin-right: 5px;*/ /*ровный отсуп*/
			display: inline-block;
			width: 18px; height: 17px;
			line-height: 17px;
			vertical-align: top;
			}

	.btn-green, .btn {
		background: #79cb3d;
		background: -moz-linear-gradient(#79cb3d, #5baa22); /* FF 3.6+ */  
		background: -ms-linear-gradient(#79cb3d, #5baa22); /* IE10 */  
		background: -webkit-linear-gradient(#79cb3d, #5baa22); /* Safari 5.1+, Chrome 10+ */  
		background: -o-linear-gradient(#79cb3d, #5baa22); /* Opera 11.10 */  
		background: linear-gradient(#79cb3d, #5baa22); /* the standard */ 
		}


		.btn-green:hover {
			background: #5baa22;
			}

	.btn-gray{
		background: #a6a6a6;
		background: -moz-linear-gradient(#a6a6a6, #797979); /* FF 3.6+ */  
		background: -ms-linear-gradient(#a6a6a6, #797979); /* IE10 */  
		background: -webkit-linear-gradient(#a6a6a6, #797979); /* Safari 5.1+, Chrome 10+ */  
		background: -o-linear-gradient(#a6a6a6, #797979); /* Opera 11.10 */  
		background: linear-gradient(#a6a6a6, #797979); /* the standard */ 
		}

		.btn-gray:hover {
			background: #797979;
			}


	.btn-yellow{
		background: #efe16c;
		background: -moz-linear-gradient(#efe16c, #f89800); /* FF 3.6+ */  
		background: -ms-linear-gradient(#efe16c, #f89800); /* IE10 */  
		background: -webkit-linear-gradient(#efe16c, #f89800); /* Safari 5.1+, Chrome 10+ */  
		background: -o-linear-gradient(#efe16c, #f89800); /* Opera 11.10 */  
		background: linear-gradient(#efe16c, #f89800); /* the standard */ 
		color: #333;
		text-shadow: #fff 1px 1px 1px;
		}

	.btn-red {
		background: #ef343b;
		background: -moz-linear-gradient(#ef343b, #cc181f); /* FF 3.6+ */  
		background: -ms-linear-gradient(#ef343b, #cc181f); /* IE10 */  
		background: -webkit-linear-gradient(#ef343b, #cc181f); /* Safari 5.1+, Chrome 10+ */  
		background: -o-linear-gradient(#ef343b, #cc181f); /* Opera 11.10 */  
		background: linear-gradient(#ef343b, #cc181f); /* the standard */ 
		color: #fff;
		}

		.btn-red:hover {
			background: #cc181f;
			}

		.btn-yellow:hover {
			background: #f3c23d;
			}

	.btn-blue {
		position: relative;
		background: #1b81c3;
		background: -moz-linear-gradient(#1b81c3, #0061a0); /* FF 3.6+ */  
		background: -ms-linear-gradient(#1b81c3, #0061a0); /* IE10 */  
		background: -webkit-linear-gradient(#1b81c3, #0061a0); /* Safari 5.1+, Chrome 10+ */  
		background: -o-linear-gradient(#1b81c3, #0061a0); /* Opera 11.10 */  
		background: linear-gradient(#1b81c3, #0061a0); /* the standard */ 
		}

		.btn-blue:hover {
			background: #0061a0;
			}

/*ICON
------------------------------------------------------------------------------------------------------------------------*/

.icon-heard {
	background: url('../i/icon-heart.png') 0 0 no-repeat;
	}

.icon-play {
	position: relative;
	display: inline-block;
	float: left;
	width: 40px; height: 40px;
	background: url('../i/icon-play.png') 0 0 no-repeat;
	}

/* POPUP
-------------------------------------------------------------------------------------------------------------------------*/
.popup {
		display:none;
		z-index:10000;
		background-color:#fff;
		/*width:320px;*/
		padding: 7px 10px 10px 10px;
		border-radius: 10px;
		text-align: left;
		}

.popup-default {
	width: 280px;
	}

.popup-shop {
	width: 515px;
	}

	.popup-shop .close {
		/*display: block !important;*/
		}

	.popup-shop .shop-list-text {
		width: 50px;
		text-align: left;
		float: left;
		margin: 2px 5px 0 0px;
		}

		.w-how-much {
			width: 280px;
			margin: 0 auto;
			}

		.popup-shop .how-much .shop-list-text {
			width: 111px;
			margin: 5px 0 0 0;
			}

			.popup-shop .shop-list-text input[type=text] {
				display: inline-block;
				width: 30px;
				left: 10px;
				}

	.popup-shop .showcase {
		margin-right: -5px;
		margin-bottom: 20px;
		}

	.popup-shop .showcase li {
		overflow: hidden;
		float: left;
		border-radius: 5px;
		padding: 13px 13px 13px 19px;
		background: #e5e5e5;
		width: 223px;
		margin-right: 5px;
		margin-bottom: 5px;
		}

		.popup-shop .showcase li .btn-buy {
			float: right;
			vertical-align: middle;
			margin-top: 5px;
			}

		.popup-shop .how-much {
			float: none !important;
			width: auto !important;
			margin-bottom: 0 !important;
			}


	.popup-shop .showcase .free {
		float: none;
		background: #fff200;
		width: auto;
		}

		.popup-shop .free .btn-getFree {
			float: right;
			}

		.popup-shop .showcase .free .shop-list-text {
			width: 189px;
			}

	.popup-shop .btn-battery {
		float: left;
		margin: 0 15px 0 0;
		}

	.popup-shop .amount-battery {
		margin: 15px 0 22px 67px;
		vertical-align: middle;
		width: 381px;
		}

		.popup-shop .amount-battery .amount-battery-text {
			margin-top: 4px;
			overflow: hidden;
			}


/*3.02.13*/
.popup__new-shop {
	width: 445px;
	}

	.popup__new-shop .close {
		/*display: block !important;*/
		}

	.popup__new-shop .shop-list-text {
		text-align: center;
		float: left;
		margin: 4px 0px 0 0px;
		font-style: italic;
		line-height: 13px;
		width: 85px;
		}

		.w-how-much {
			width: 280px;
			margin: 0 auto;
			}

		.popup__new-shop .how-much .shop-list-text {
			width: 111px;
			margin: 5px 0 0 0;
			}

			.popup__new-shop .shop-list-text input[type=text] {
				display: inline-block;
				width: 30px;
				left: 10px;
				}

	.popup__new-shop .showcase {
		margin-bottom: 6px;
		}

	.popup__new-shop .showcase li {
		border-radius: 5px;
		padding: 13px 13px 11px 18px;
		background: #e5e5e5;
		margin-bottom: 10px;
		}

		.popup__new-shop .showcase li .btn-battery {
			margin-bottom: 2px;
			}

		.popup__new-shop .showcase li .btn-buy {
			float: right;
			vertical-align: middle;
			padding: 10px 11px 10px 13px;
			line-height: normal;
			text-align: center;
			}

		.popup__new-shop .how-much {
			float: none !important;
			width: auto !important;
			margin-bottom: 0 !important;
			}


	.popup__new-shop .showcase .free {
		float: none;
		background: #fff200;
		width: auto;
		}

		.popup__new-shop .free .btn-getFree {
			float: right;
			}

		.popup__new-shop .showcase .free .shop-list-text {
			width: 189px;
			}

	.popup__new-shop .btn-battery {
		float: left;
		}

	.w-amount-battary {
		text-align: center;
		vertical-align: middle;
		}

	.popup__new-shop .amount-battery {
		margin: 7px 0 12px 5px;
		vertical-align: middle;
		width: 270px;
		text-align: center;
		display: inline-block;
		}

		.popup__new-shop .amount-battery .amount-battery-text {
			margin-top: 10px;
			overflow: hidden;
			}

.new-shop__discount {
	position: relative; margin: -16px 20px -16px -19px;
	float: right;
	}

.new-shop__vk-votes {
	float: right;
	margin: 0 12px 0 0;
	}

.new-shop__get-free-battary-headline {
	border: none;
	background: none;
	padding-left: 12px;
	margin-bottom: 2px !important;
	}

.showcase_free {
	margin-bottom: 0 !important;
	}

	.showcase_free li {
		padding-left: 13px !important;
		margin-bottom: 8px !important;
		}

	.showcase-free__prv, .showcase-free__desc {
		float: left;
		}

		.showcase-free__desc p {
			margin-bottom: 0 !important;
			}

	.showcase-free__get {
		float: right;
		}

		.showcase-free__get .btn {
			padding: 9px 14px 10px 15px;
			line-height: normal;
			}

	.showcase-free__prv {
		margin-right: 13px;
		width: 75px;
		}

		.showcase-free__prv img {
			width: 100%;
			}

		.showcase-free__desc {
			font-size: 12px;
			margin-right: 13px;
			width: 185px;
			line-height: 14px;
			}

			.showcase-free__desc h3 {
				font-weight: bold;
				margin: 0;
				}

.new-shop__bottom-link {
	text-align: center;
	margin: 4px 0 20px 0;
	}

.popup-controls-top-rounded-fixer {
	position: relative; left: -10px; margin-right: -20px; margin-top: -10px;
	height: 10px;
	background: #e5e5e5;
	}

	.popup-controls-top-rounded-fixer__corners {
		height: 10px;
		background: #fff;
		-webkit-border-radius: 0 0 10px 10px;
		-moz-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;
		}

/*UI*/
.ui-star-discount {
	display: inline-block;
	width: 67px; height: 67px;
	background: url('../i/star.png') no-repeat;
	}

	.ui-star-discount p{
		position: relative; top: 16px; left: 13px;
		font-size: 14px;
		color: #fff;
		-webkit-text-shadow: 0 -1px 0px #000;
		-moz-text-shadow: 0 -1px 0px #000;
		-ms-text-shadow: 0 -1px 0px #000;
		-o-text-shadow: 0 -1px 0px #000;
		text-shadow: 0 -1px 0px #000;
		line-height: 16px;
		}

	.ui-star-discount__percents {
		display: block;
		font-size: 20px;
		}

.ui-vk-votes {
	padding: 3px;
	width: 70px;
	background: #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}

	.ui-vk-votes__count {
		font: bold 17px Arial;
		color: #362f2d;
		margin: 0 0 0 30px;
		line-height: 28px;
		text-align: center;
		}

.ui-vk-logo {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	color: #305980;
	font: bold 20px Arial;
	width: 28px;
	height: 28px;
	float: left;
	text-align: center;
	line-height: 28px;
	}

/*end 3.02.13*/


	.w-popup-shop {
		padding: 0 20px 20px 20px;
		overflow: hidden;
		}

.popup-captcha .popup-numbers {
	width: 142px;
	margin: 0 auto;
	}

.popup-captcha .b-popup-captcha {
	width: 140px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
	}

	.b-popup-captcha .i-captcha {
		margin-bottom: 10px;
		}

	.popup-captcha .b-popup-captcha input[type=text] {
		width: 128px;
		}

	.popup-captcha .popup-numbers .btn {
		padding: 0;
		width: 24px;
		height: 24px;
		margin-right: 2px;
		margin-bottom: 5px;
		text-align: center;
		}

.popup-doLike .popup-done {
	text-align: center;
	margin-bottom: 21px;
	}

.popup-doLike .popup-time {
	text-align: center;
	font: bold 68px Arial;
	color: #ff3c00;
	margin-bottom: 14px;
	}

	.popup .popup-controls {
		background: #e5e5e5;
		padding: 15px 0;
		text-align: center;
		border-radius: 0 0 10px 10px;
		margin: 0 -10px -10px -10px;
		}

		.popup .popup-controls .btn{
			margin: 0 3px;
			}

	.popup .popup-content {
		margin: 0 20px;
		}


		.popup .popup-content p {
			margin-bottom: 10px;
			}

	.popup h2 {
		margin-bottom: 7px;
		}

	.popup .close {
			background-image:url(../i/close.png);
			position:absolute;
			right:10px;
			top:12px;
			cursor:pointer;
			height:15px;
			width:15px;
			display: none;
		}

.popup_container {
	display: none;
	z-index: 1000;
	position: fixed; top:0; left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: url(../i/popup-back.png) repeat scroll 0 0 transparent;
	}

.popup .popup-content p .notification {
	color:#A4A4A4;
	font-size: 11px;

}