.lt-ie8 .b-topBar .topMenu li a, .lt-ie8, .b-topBar .topMenu li span {
	zoom:1;	
	}

.lt-ie8 .b-friendsRating h2 .b-hideForm {
	position: absolute; right: 0;
	float: right;
	}

.lt-ie8 .w-progressLikes .progress {
	float: left;
	}

.btn-big p{
	line-height: 15px;
	}

.lt-ie8 .btn-big {
	display: inline;
	zoom:1;
	}

	.lt-ie8 .btn-big i {
		display: inline;
		zoom:1;
		}

	.lt-ie8 .btn-big p{
		display: inline;
		zoom:1;
		line-height: normal;
		}

	.lt-ie8 .w-top100 .w-controls {
		}

	.lt-ie8 .count-elements {
		display: inline;
		}

		.lt-ie8 .w-top100 .b-controls .b-controls-right {
			width: 1%;
			white-space: nowrap;
			}

		.lt-ie8 .w-top100 .b-controls .control-stepRight {
			
		}