.RBG-adv img {
	border:0;
	vertical-align:bottom;
	}

.RBG-adv {
	margin: 10px auto;
	width: 700px; height: 80px;
	border: solid 1px #c2c2c2;
	overflow: hidden;
	}

	.RBG-adv__logo,
	.RBG-adv__left-control,
	.RBG-adv__right-control,
	.RBG-adv__image {
		display: block;
		float: left;
		height: 80px;
		}

	.RBG-adv__image-container {
		position: relative;
		overflow: hidden;
		width: 560px;
		}

	.image-container__scroller {
		position: relative;
		right: 0px; /* Этим двигаить скроллер */
		font-size: 0;
		white-space: nowrap; /*Чтобы не считать длинну*/
		}

	.RBG-adv__right-control {
		cursor: pointer;
		width: 28px;
		border-left: solid 1px #c2c2c2;
		background: url("../i/nav-arrows.png") no-repeat -24px 50% #ebebeb;
		}

	.RBG-adv__left-control {
		cursor: pointer;
		width: 28px;
		background: url("../i/nav-arrows.png") no-repeat 6px 50% #ebebeb;
		border-left: solid 1px #c2c2c2;
		}

		.RBG-adv__left-control.disabled {
			cursor: auto;
			}

		.RBG-adv__right-control.disabled {
			cursor: auto;
			}

		.RBG-adv__left-control:hover, 
		.RBG-adv__right-control:hover {
			background-color: #d7d7d7;
			}

			.RBG-adv__left-control.disabled:hover {
				background: url("../i/nav-arrows.png") no-repeat 6px 50% #ebebeb;
				}

			.RBG-adv__right-control.disabled:hover {
				background: url("../i/nav-arrows.png") no-repeat -24px 50% #ebebeb;
				}

	.RBG-adv__image {
		border-left: solid 1px #c2c2c2;
		}